---
layout: default
author_profile: true
---
<p>
Welcome to Steve's Stuff.  This will be a personal site about some of my coding projects and other things.
I will post new releases and more documentation in the future.
</p>
<p>
I will also some new projects on here like my new programming language PX will have 
releases and docs on here as well when it's ready.
</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
    <a href="{{ post.url }}">
        <h3>{{ post.title }}</h3>
        <p>{{ post.date | date_to_string }}</p>
    </a>
{% endfor %}

{% include paginator.html %}
